<!DOCTYPE html>
<html>
    <head>
        <title>Profil Deris</title>  
        <link rel="stylesheet" href="styl.css"> 
        <style>
            body{
                background-image: url('static/Gambar/astronout.jpg');  
                background-position: center;
                background-size: cover;
            }
         
        </style> 
    </head>
    <body style="margin:0" background="location" bgproperties="fixed">
        <table border="0" id="home" width="100%" cellpadding="0" cellspacing="0">
            <tr>
                <td>
                    <table border="0" width="40%" cellpadding="15" cellspacing="0" align="left">
                        <tr>
                            <td align="right" valign="right" height="300">
                                <h3>
                                    <marquee behavior="slide" direction="right" scrollamount="10">
                                     <font face="arial" color="#ffffff" size="7">
                                     Profil</br>
                                    </font>
                                    <font face="arial" color="#f3971b" size="8">
                                         ...Deris Pakiding
                                      </font>
                                    </marquee>
                                </h3>
                            </td>
                        </tr>
                    </table>
                    <table border="0" width="40%" cellpadding="15" cellspacing="0" align="right">
                        <tr>
                            <td align="left" valign="left" height="700">
                                <h3>
                                    <marquee behavior="slide" direction="center" scrollamount="10">
                                        <font face="arial" color="#ffffff" size="6">
                                         Deris Pakiding </br>
                                        </font>
                                        <font face="arial" color="#f3971b" size="5">
                                         Mahasiswa Universitas Muhammadiyah </br>
                                        </font>
                                        <font face="arial" color="white" size="3">
                                            Saat ini aktif mengenyam pendidikan di </br>
                                            Universitas Muhammadiyah kota Parepare </br>
                                            dengan mengambil studi di Fakultas Teknik,</br>
                                            Prodi Teknik Informatika.
                                        </font>
                                    </marquee>
                                </h3>
                            </td>
                        </tr>
                    </table> 
                    <table border="0" width="100%" cellpadding="5" cellspacing="0" align="left">
                        <tr>
                            <td align="center" valign="left" height="80">
                                <font face="Lucida Bright" color="#f3971b" size="7">
                                JEJAK PENDIDIKAN
                                </font>
                            </td>   
                        </tr>
                    </table>
                    <table border="0" width="40%" cellpadding="5" cellspacing="0" align="left">
                        <tr>
                            <td align="right" valign="right" height="85">
                                <h3>
                                    <marquee behavior="slide" direction="center" scrollamount="20">
                                        <img src="static/Gambar/smansa.png" align="right" width="160px" height="190px">
                                        <font face="arial" color="#f3971b" size="6">
                                         SMA Negeri 1 Parepare </br>
                                        </font>
                                        <font face="arial" color="#A43820" size="5">
                                         Tahun 2016-2020</br>
                                        </font>
                                        <font face="arial" color="#808080" size="3">
                                            Berhasil menyelesaikan pendidikan tingkat</br>
                                            Sekolah Menengah Atas(SMA) tahun 2016-2020 </br>
                                            berada di jurusan MIPA, dan aktif mengikuti</br>
                                            proses pembelajaran dikelas MIPA 3. </br>
                                            Aktif dalam kegiatan Organisasi:</br>
                                            <ul>
                                                <li>Palang Merah Remaja</li>
                                                <li>PPKS</li>
                                                <li>SEGA SMANSA</li>
                                            </ul>
                                        </font>
                                    </marquee>
                                </h3>
                            </td>
                        </tr>
                    </table>  
                    <table border="0" width="50%" cellpadding="5" cellspacing="0" align="left">
                        <tr>
                            <td align="right" valign="left" height="85">
                                <h3>
                                    <marquee behavior="slide" direction="right" scrollamount="20">
                                        <img src="static/Gambar/umpar.png" align="left" width="185px" height="185px"/>
                                        <font face="arial" color="#f3971b" size="6">
                                         Universitas Muhammadiyah </br>
                                         Parepare</br>
                                        </font>
                                        <font face="arial" color="#A43820" size="5">
                                         Tahun 2020-...</br>
                                        </font>
                                        <font face="arial" color="#808080" size="3">
                                            Mengambil Jurusan Teknik Informatika di </br>
                                            Universitas Muhammadiyah kota Parepare. </br>
                                            Melakukan Kegiatan Belajar di kelas C</br>
                                            Memiliki Nilai Induk Mahasiswa 220280100.
                                        </font>
                                    </marquee>
                                </h3>
                            </td>
                        </tr>
                    </table>    
                </td>
            </tr>
        </table>                 
    </body>
</html>